<div class="dashboard-container">
    <div class="top-buttons">
        <button (click)="showCreateForm()" pButton label="Create Document"></button>
<p-dialog [(visible)]="displayDialog" modal="true" header="Upload File" class="upload-dialog">
    <form [formGroup]="uploadForm" (ngSubmit)="onUpload()" enctype="multipart/form-data" class="upload-form-container">
        <label for="file" class="upload-file-label">Select File:</label>
        <input type="file" id="file" (change)="onFileSelect($event)" accept=".pdf,.jpg,.png,.xls" class="upload-file-input" />

        <label for="author" class="upload-file-label">Your Name:</label>
        <input type="text" id="author" formControlName="author" required class="upload-author-input" />

         <div *ngIf="selectedFile">
            Selected File: {{ selectedFile.name }}
        </div>
        <div *ngIf="selectedDocument.fileName && !selectedFile">
            Current File: {{ selectedDocument.fileName }}
        </div>
        <button type="submit" [disabled]="uploadForm.invalid || !selectedFile" class="upload-submit-btn">Upload</button>

        <div *ngIf="errorMessage" class="upload-error-msg">{{ errorMessage }}</div>
    </form>
</p-dialog>




        <button pButton label="Logout" class="p-button-danger" (click)="logout()"></button>
    </div>

    <div class="filters">
        <span class="p-float-label">
            <input pInputText type="text" [(ngModel)]="filters.fileName" (input)="applyFilter()"
                placeholder="Filter by Filename" />
        </span>

        <span class="p-float-label">
            <input pInputText type="text" [(ngModel)]="filters.author" (input)="applyFilter()"
                placeholder="Filter by Uploader" />
        </span>

        <span class="p-float-label">
            <p-calendar [(ngModel)]="filters.dateRange" selectionMode="range" (onSelect)="applyFilter()"
                placeholder="Filter by Date Range"></p-calendar>
        </span>
    </div>

    <p-table #dt [value]="documents" [paginator]="false" [rows]="10" [scrollable]="true" scrollHeight="400px">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="author">Uploader Name <p-sortIcon field="author"></p-sortIcon></th>
                <th pSortableColumn="fileName">Filename <p-sortIcon field="fileName"></p-sortIcon></th>
                <th pSortableColumn="fileSize">File Size <p-sortIcon field="fileSize"></p-sortIcon></th>
                <th pSortableColumn="uploadedAt">Uploaded Time <p-sortIcon field="uploadedAt"></p-sortIcon></th>
                <th pSortableColumn="fileType">File Type <p-sortIcon field="fileType"></p-sortIcon></th>
                <th>Actions</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-doc>
            <tr>
                <td>{{ doc.author }}</td>
                <td>{{ doc.fileName }}</td>
                <td>{{ doc.fileSize | number }} KB</td>
                <td>{{ doc.uploadedAt | date:'short' }}</td>
                <td>{{ doc.fileType }}</td>
                <td>

                    <p-dialog [(visible)]="displayLogDialog" modal="true" header="Uploaded Files Log"
    [style]="{ width: '80vw', height: '70vh' }" class="uploaded-files-dialog" [contentStyle]="{ 'background': '#fff' }">
    <p-table [value]="allFilesLog" [paginator]="true" [rows]="10" [scrollable]="true"
        scrollHeight="400px" class="uploaded-files-table">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="authorName">Uploader</th>
                <th pSortableColumn="docName">Document</th>
                <th pSortableColumn="addedDate">Uploaded Date</th>
                <th pSortableColumn="lastModified">Last Modified</th>
                <th pSortableColumn="lastModifiedBy">Last Modified By</th>
                <th pSortableColumn="downloadCount">Downloads</th>
                <th pSortableColumn="size">Size</th>
                <th pSortableColumn="downloadedBy">Downloaded By</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-file>
            <tr>
                <td>{{ file.author?.name }}</td>
                <td>{{ file.docName }}</td>
                <td>{{ file.addedDate | date:'short' }}</td>
                <td>{{ file.lastModified | date:'short' }}</td>
                <td>{{ file.lastModifiedBy?.name }}</td>
                <td>{{ file.downloadCount }}</td>
                <td>{{ file.size }} </td>
                <td>{{ file.downloadedBy?.name }}</td>
            </tr>
        </ng-template>
    </p-table>
</p-dialog>


    <button pButton type="button" icon="pi pi-pencil" class="p-button-text" (click)="editDocument(doc)">Edit</button>
    <button pButton type="button" icon="pi pi-trash" class="p-button-text p-button-danger"(click)="deleteDocument(doc.id)">delete</button>
    <button pButton type="button" icon="pi pi-eye" class="p-button-text" (click)="viewAllFiles()">view</button>

    </td>
    </tr>
    </ng-template>
    </p-table>
</div>